* {
  box-sizing: border-box;
}

div.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.airport-listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-auto-rows: minmax(200px, 300px);
}

.airport-listing > div {
  background-color: grey;
}

@media (max-width: 991.98px) {
  .airport-listing {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.98px) {
  .airport-listing {
    grid-template-columns: 1fr;
  }
}

div.image.airport-image {
  position: relative;
  background-size: cover;
  background-position: center;
}

.airport-header {
  position: absolute;
  bottom: 0;
  left: 5%;
  color: rgb(236, 236, 236);
  font-variant: small-caps;
  font-weight: 700;
  text-shadow: 1px 1px 5px #908e8e;
  font-size: 7em;
}

.airport-listing .airport-image {
  grid-row: 1;
  grid-column: 1 / span 3;

  border-radius: 40px 80px 10px 10px;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .airport-listing .airport-image {
    grid-column: 1 / span 2;
  }
}
@media (max-width: 575.98px) {
  .airport-listing .airport-image {
    grid-column: 1;
  }
}

.box-shadow {
  box-shadow: 1px 1px 5px 0px #908e8e;
}

.plane-thumbnail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  margin: 8px;
  cursor: pointer;
}

.plane-thumbnail-image {
  background-image: url("http://www.copterstuff.com/rhctraining.com/assets/img/hero-R44-helicopter.jpg");
}

.plane-thumbnail-body {
  padding: 5px;
  background-color: #fafafa;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  border-bottom: 2px solid black;
  margin-bottom: -2px;
}

@media (max-width: 767.98px) {
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    border-bottom: 0;
    margin-bottom: 0; 
  }
}