{{ define "content" }}
<div>
  <div class="airport-listing">
    <div class="airport-image image box-shadow" style="background-image: url(https://images.freeimages.com/images/large-previews/83f/brno-turany-airport-1203971.jpg)">
      <h1 class="airport-header">Turany</h1>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>Helicopter 117</h5>
        <p>from <b>100€/hour</b></p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>Helicopter 117</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>Helicopter 117</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>Helicopter 117</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>Helicopter 117</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>Helicopter 117</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
</div>
  <!-- {{ range . }} -->
  <!-- {{ .Airport }} - {{ .Manufacturer}} {{ .Type }}, price {{ .Price }}€/hour -->
  <!-- {{ end }} -->
{{ end }}
