{{ define "content" }}
<p class="lead">
  Current offers:
</p>
<div>
  <div class="airport-listing">
    <div class="airport-image box-shadow"></div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>hello???</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>hello???</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>hello???</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>hello???</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>hello???</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
    <div class="plane-thumbnail box-shadow">
      <div class="plane-thumbnail-image">
      </div>
      <div class="plane-thumbnail-body">
        <h5>hello???</h5>
        <p>fadjfkadjfkdfjadfjdkjf adkjfkajdsfkjf kjfadk</p>
      </div>
    </div>
</div>
  <!-- {{ range . }} -->
  <!-- {{ .Airport }} - {{ .Manufacturer}} {{ .Type }}, price {{ .Price }}€/hour -->
  <!-- {{ end }} -->
{{ end }}
