{{ define "content" }}

<form class="form-signin" role="form" action="/order_flight" method="post">
  <h2 class="form-signin-heading">
    <i class="fa">
      FlyIT
    </i>
  </h2>
  <h4>Reservation details:</h4>
  <h5><b>Aicraft:</b> {{ .Manufacturer}} {{.Type}}</h5>
  <h5><b>Airport:</b> {{ .Airport}}</h5>
  <div class="lead">Fill the form below to create flight order</div>
  <hr>
  <input name="offerID" type="hidden" class="form-control" value="{{.OfferID}}">
  <input name="manufacturer" type="hidden" class="form-control" value="{{.Manufacturer}}">
  <input name="type" type="hidden" class="form-control" value="{{.Type}}">
  <input id="name" type="text" name="name" class="form-control" placeholder="Name" required autofocus>
  <input type="email" name="email" class="form-control" placeholder="Email address" required>
  <input type="text" name="phone" class="form-control" placeholder="Phone number" required>
  <hr>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Order</button>
</form>

{{ end }}
